.projekt {
  display: flex;
  width: 100%;
}

.projekt input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  margin-right: 1rem;
  height: 50px;
}

.projekt textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  margin-right: 1rem;
  resize: vertical;
  min-height: 170px;
  max-height: 300px;
  font-family: inherit;
}

.main h2 {
  margin: 1rem 0;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

.projekt button {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  background-color: #77be69;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 50px;
}

.projekt button:hover {
  background-color: #5e9c4f;
}

.projekt button i {
  margin-left: 0.5rem;
  font-size: 16px;
}

.projekt button span {
  font-weight: 600;
  font-size: 14px;
}

.projekt-list {
  margin: 2rem 0;
  background-color: white;
  color: black;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  width: 100%;
}

.projekt-list input {
  padding: 0.5rem 1rem;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.projekt-list textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  height: 150px;
  resize: vertical;
  background-color: #f1f1f1;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.projekt-list .name {
  width: 20%;
}

.projekt-list .desc {
  width: 20%;
}

.projekt-list .text {
  width: 50%;
}

.btn2 {
  background-color: #b81818;
  border: none;
  padding: 0.75rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn2:hover {
  background-color: #b30303;
}

.edit {
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.edit:hover {
  background-color: #f1f1f1;
}

.header {
  padding: 1rem 0;
}

th {
  border-bottom: 1px solid #00000030;
}
