.projekt {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 28px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.projekt input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  margin-right: 1rem;
  height: 50px;
}

.projekt textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  margin-right: 1rem;
  resize: vertical;
  min-height: 170px;
  max-height: 300px;
  font-family: inherit;
}

.projekt button {
  padding: 1rem 1rem;
  align-items: center;
  margin: 0.5rem 0;
  background-color: #77be69;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.projekt button:hover {
  background-color: #5e9c4f;
}

.projekt button i {
  margin-left: 0.5rem;
  font-size: 16px;
}

.projekt button span {
  font-weight: 600;
  font-size: 14px;
}

.projekt-list {
  margin: 2rem 0;
  background-color: white;
  color: black;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  width: 100%;
}

.projekt input {
  padding: 0.5rem 1rem;
  background-color: #f1f1f1;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.projekt textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  height: 120px;
  font-size: 18px;
  resize: vertical;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.projekt-list #name {
  width: 20%;
  line-height: 24px;
}

.projekt-list #desc {
  width: 25%;
  line-height: 24px;
}

.projekt-list #text {
  width: 100%;
  line-height: 24px;
}

.projekt-list #text2 {
  width: 100%;
  line-height: 24px;
}

.header .name {
  width: 20%;
}

.header .desc {
  width: 25%;
}

.header .text {
  width: 100%;
}

.header .btn {
  width: 10%;
}

.btn2 {
  background-color: #b81818;
  border: none;
  padding: 0.75rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-left: 0.5rem;
}

.btn2:hover {
  background-color: #b30303;
}

.edit {
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.edit:hover {
  background-color: #f1f1f1;
}

.header {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f3f3f3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: left;
}

td {
  border-top: 1px solid #0000002e;
  padding: 0.5rem 1rem;
  width: 100%;
}

.btns {
  display: flex;
  align-items: center;
  width: 10%;
}

.project-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-top;
  width: 100%;
  margin: 1.5rem 0;
  cursor: pointer;
}

.project-item:hover {
  border-radius: 5px;
  background-color: #f1f1f1;
}
