.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(53, 53, 53);
}

.login h2 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

.login input {
  padding: 1rem 3rem;
  margin: 0.5rem 0;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgb(77, 77, 77);
  color: rgb(255, 255, 255);
  width: 280px;
}

.login button {
  padding: 1rem 3rem;
  margin: 0.5rem 0;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  width: 280px;
}

.login button:hover {
  background-color: rgba(220, 220, 220, 0.8);
}
